# Introduction to pandas data structures - Series and DataFrame

In [8]:
# most used for data analysis and manipulation
import pandas as pd

# Pandas Series

In [9]:
# s is a variable name storing a pandas Series data structure
# Pandas Series data structure is a 1D array storing any data type
# s stores a list of integers
s = pd.Series([1,2,3,4,5,6,7])

In [10]:
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [11]:
# index_day is a variable name storing a list of strings
index_day=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

# data is a variable name storing a list of integers
data=[1,2,3,4,5,6,7]

In [12]:
# construct a pandas Series data structure (1D array storing any data type)
# pass in data and index_day as parameters
s=pd.Series(data, index=index_day)

# print the newly constructed pandas Series
s

Monday       1
Tuesday      2
Wednesday    3
Thursday     4
Friday       5
Saturday     6
Sunday       7
dtype: int64

In [21]:
# Get number 7 from the pandas Series in three ways
s[-1]
# s[6]
# s['Sunday']

7

In [22]:
# s is numeric because the index is not the data being stored
s.mean()

4.0

In [23]:
s['Sunday'] = 8

In [26]:
s.mean()

4.142857142857143

# Pandas DataFrame

In [30]:
df = pd.DataFrame({'first':s, 'second' :s*2})
df

           first  second
Monday         1       2
Tuesday        2       4
Wednesday      3       6
Thursday       4       8
Friday         5      10
Saturday       6      12
Sunday         8      16

In [32]:
# lists of strings
column_names = ['city', 'population']
index_country = ['Japan', 'India', 'China', 'Brazil', 'Mexico']

In [33]:
# lists of strings and doubles
row1=['Tokyo', 37.4]
row2=['Delhi', 28.5]
row3=['Shanghai', 25.6]
row4=['Sao Paulo', 21.7]
row5=['Mexico City', 21.6]

In [34]:
# data is a list of lists 
data=[row1, row2, row3, row4, row5]
data

[['Tokyo', 37.4],
 ['Delhi', 28.5],
 ['Shanghai', 25.6],
 ['Sao Paulo', 21.7],
 ['Mexico City', 21.6]]

In [36]:
# df is a 2D pandas data structure
# pass in data (list of lists), index (y-axis), columns (x-axis)
df = pd.DataFrame(data, index=index_country, columns=column_names)
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    Sao Paulo        21.7
Mexico  Mexico City        21.6

In [42]:
# list of strings
cities = ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mexico City']

# list of floating-point numbers
population = [37.4, 28.5, 25.6, 21.7, 21.6]

In [43]:
# Python dictionary goes through the two lists and matches city with its population
dict_popu={'city' :cities, 'population' : population}
dict_popu

{'city': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mexico City'],
 'population': [37.4, 28.5, 25.6, 21.7, 21.6]}

In [45]:
# pass into the DataFrame the dictionary and the list countries
# DataFrame is a table
df = pd.DataFrame(dict_popu, index = index_country)
df

               city  population
Japan         Tokyo        37.4
India         Delhi        28.5
China      Shanghai        25.6
Brazil    Sao Paulo        21.7
Mexico  Mexico City        21.6

In [46]:
# city is the keys column of the dictionary dict_popu
df['city']

Japan           Tokyo
India           Delhi
China        Shanghai
Brazil      Sao Paulo
Mexico    Mexico City
Name: city, dtype: object