In [1]:
import pandas as pd
hero=pd.read_pickle('pickle-data/hero_dc.pkl')

In [2]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0

In [5]:
hero.loc[2,'Race']='Unknown'

In [6]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,NaN
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,NaN
2,Alan Scott,Male,blue,Unknown,Blond,180,DC Comics,good,90.0,Unknown
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,NaN
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,NaN

In [7]:
hero.iloc[2,3]

'Unknown'

In [8]:
hero.iloc[2,3]='-'

In [9]:
hero.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight,race
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0,NaN
1,Adam Strange,Male,blue,Human,Blond,185,DC Comics,good,88.0,NaN
2,Alan Scott,Male,blue,-,Blond,180,DC Comics,good,90.0,Unknown
3,Alfred Pennyworth,Male,blue,Human,Black,178,DC Comics,good,72.0,NaN
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0,NaN