In [1]:
import pandas as pd

In [2]:
hero=pd.read_pickle('pickle-data/hero_dc.pkl')
hero.head

<bound method NDFrame.head of                   name  Gender Eye color      Race Hair color  Height
0             Abin Sur    Male      blue   Ungaran    No Hair     185  \
1         Adam Strange    Male      blue     Human      Blond     185
2           Alan Scott    Male      blue         -      Blond     180
3    Alfred Pennyworth    Male      blue     Human      Black     178
4                Amazo    Male       red   Android          -     257
..                 ...     ...       ...       ...        ...     ...
210           Wildfire    Male         -         -          -     -99
211        Wonder Girl  Female      blue  Demi-God      Blond     165
212       Wonder Woman  Female      blue    Amazon      Black     183
213            Zatanna  Female      blue     Human      Black     170
214               Zoom    Male       red         -      Brown     185

     Publisher Alignment  Weight
0    DC Comics      good    90.0
1    DC Comics      good    88.0
2    DC Comics      good    90.0
3    DC Comics      good    72.0
4    DC Comics       bad   173.0
..         ...       ...     ...
210  DC Comics      good     NaN
211  DC Comics      good    51.0
212  DC Comics      good    74.0
213  DC Comics      good    57.0
214  DC Comics       bad    81.0

[215 rows x 9 columns]>

In [4]:
hero.sort_values(by='Race', ascending=False)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
186,Solomon Grundy,Male,black,Zombie,White,279,DC Comics,bad,437.0
0,Abin Sur,Male,blue,Ungaran,No Hair,185,DC Comics,good,90.0
191,Starfire,Female,green,Tamaranean,Auburn,193,DC Comics,good,71.0
177,Shadow Lass,Female,black,Talokite,Black,173,DC Comics,good,54.0
140,Mogo,Male,-,Planet,-,-99,DC Comics,good,NaN
...,...,...,...,...,...,...,...,...,...
151,Phantom,Male,-,-,-,-99,DC Comics,good,NaN
43,Blue Beetle II,Male,blue,-,Brown,183,DC Comics,good,86.0
98,Hawkwoman II,Female,-,-,-,-99,DC Comics,good,NaN
99,Hawkwoman III,Female,blue,-,Red,170,DC Comics,good,65.0
214,Zoom,Male,red,-,Brown,185,DC Comics,bad,81.0

In [6]:
hero.sort_values(by='Weight', ascending=False).head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
64,Darkseid,Male,red,New God,No Hair,267,DC Comics,bad,817.0
86,Giganta,Female,green,-,Red,63,DC Comics,bad,630.0
186,Solomon Grundy,Male,black,Zombie,White,279,DC Comics,bad,437.0
70,Doomsday,Male,red,Alien,White,244,DC Comics,bad,412.0
114,Killer Croc,Male,red,Metahuman,No Hair,244,DC Comics,bad,356.0

In [9]:
hero[['Race','Height']].sort_values(by=['Race','Height'])

           Race  Height
7             -     -99
13            -     -99
16            -     -99
17            -     -99
19            -     -99
..          ...     ...
140      Planet     -99
177    Talokite     173
191  Tamaranean     193
0       Ungaran     185
186      Zombie     279

[215 rows x 2 columns]

In [11]:
hero[['Race','Height']].sort_values(by=['Height', 'Race'],ascending=[True, False])

           Race  Height
140      Planet     -99
149   Parademon     -99
84       Mutant     -99
76   Kryptonian     -99
85   Kryptonian     -99
..          ...     ...
114   Metahuman     244
70        Alien     244
4       Android     257
64      New God     267
186      Zombie     279

[215 rows x 2 columns]

In [12]:
hero.nlargest(n=10, columns='Height')

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
186,Solomon Grundy,Male,black,Zombie,White,279,DC Comics,bad,437.0
64,Darkseid,Male,red,New God,No Hair,267,DC Comics,bad,817.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
70,Doomsday,Male,red,Alien,White,244,DC Comics,bad,412.0
114,Killer Croc,Male,red,Metahuman,No Hair,244,DC Comics,bad,356.0
116,Kilowog,Male,red,Bolovaxian,No Hair,234,DC Comics,good,324.0
124,Lobo,Male,red,Czarnian,Black,229,DC Comics,neutral,288.0
20,Bane,Male,-,Human,-,203,DC Comics,bad,180.0
127,Martian Manhunter,Male,red,Martian,No Hair,201,DC Comics,good,135.0
182,Sinestro,Male,black,Korugaran,Black,201,DC Comics,neutral,92.0

In [14]:
hero.sort_values(by='Height',ascending=False).head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
186,Solomon Grundy,Male,black,Zombie,White,279,DC Comics,bad,437.0
64,Darkseid,Male,red,New God,No Hair,267,DC Comics,bad,817.0
4,Amazo,Male,red,Android,-,257,DC Comics,bad,173.0
114,Killer Croc,Male,red,Metahuman,No Hair,244,DC Comics,bad,356.0
70,Doomsday,Male,red,Alien,White,244,DC Comics,bad,412.0

In [16]:
hero[hero['Height']>0].nsmallest(10, 'Height')

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Alignment,Weight
6,Anti-Monitor,Male,yellow,God / Eternal,No Hair,61,DC Comics,bad,NaN
86,Giganta,Female,green,-,Red,63,DC Comics,bad,630.0
118,Krypto,Male,blue,Kryptonian,White,64,DC Comics,good,18.0
173,Robin V,Male,blue,Human,Black,137,DC Comics,good,38.0
122,Lightning Lad,Male,blue,-,Red,155,DC Comics,good,65.0
83,Flash IV,Male,yellow,Human,Auburn,157,DC Comics,good,52.0
150,Penguin,Male,blue,Human,Black,157,DC Comics,bad,79.0
56,Cheetah,Female,green,Human,Blond,163,DC Comics,bad,50.0
24,Batgirl IV,Female,green,Human,Black,165,DC Comics,good,52.0
36,Black Canary,Female,blue,Human,Blond,165,DC Comics,good,58.0