In [1]:
import pandas as pd
wdi = pd.read_pickle('wdi.pkl')
numeric_cols = wdi.select_dtypes(include='number').columns
cat_cols = wdi.select_dtypes(exclude='number').columns

In [2]:
wdi[numeric_cols].mean()

access_to_electricity_pct         8.421552e+01
atms_per_100000                   4.812857e+01
compulsory_education_years        9.701456e+00
health_expenditure_pct_of_gdp     6.433350e+00
gdp_per_capita_usd                1.359989e+04
gdp_per_capita_ppp                1.992523e+04
life_expectancy_female            7.456947e+01
life_expectancy_male              6.986652e+01
life_expectancy                   7.217627e+01
population_density                2.099738e+02
population                        3.690135e+08
alcohol_consumption_per_capita    6.016516e+00
unemployment_rate_female          8.404762e+00
unemployment_rate_male            6.465617e+00
unemployment_rate                 7.047682e+00
year                              2.017500e+03
is_region                         2.119816e-01
dtype: float64

In [3]:
wdi[numeric_cols].median()

access_to_electricity_pct         9.891294e+01
atms_per_100000                   3.941107e+01
compulsory_education_years        1.000000e+01
health_expenditure_pct_of_gdp     6.006967e+00
gdp_per_capita_usd                5.783711e+03
gdp_per_capita_ppp                1.310845e+04
life_expectancy_female            7.608850e+01
life_expectancy_male              7.081350e+01
life_expectancy                   7.358550e+01
population_density                6.961068e+01
population                        1.604842e+07
alcohol_consumption_per_capita    5.837431e+00
unemployment_rate_female          5.836087e+00
unemployment_rate_male            5.351708e+00
unemployment_rate                 5.606500e+00
year                              2.017500e+03
is_region                         0.000000e+00
dtype: float64

In [5]:
wdi[numeric_cols] = wdi[numeric_cols].fillna(wdi[numeric_cols].mean())

In [6]:
wdi['alcohol_consumption_per_capita'].value_counts(dropna=False)

alcohol_consumption_per_capita
6.016516     219
0.690000       3
9.230000       2
12.030000      2
0.682988       2
            ...
1.110000       1
5.380000       1
6.890000       1
2.730000       1
4.670000       1
Name: count, Length: 205, dtype: int64

In [7]:
wdi[cat_cols].describe()

       country_name country_category
count           434              282
unique          217                2
top     Afghanistan       DEVELOPING
freq              2              224

In [9]:
most_freq = wdi[cat_cols].describe().loc['top']

In [10]:
wdi[cat_cols] = wdi[cat_cols].fillna(most_freq)

In [11]:
wdi["country_category"].value_counts(dropna=False)

country_category
DEVELOPING    376
DEVELOPED      58
Name: count, dtype: int64

In [12]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    int64
 17  country_category                434 non-null    object
 18  is_region                       434 non-null    int64
dtypes: float64(15), int64(2), object(2)
memory usage: 64.5+ KB

In [13]:
wdi = pd.read_pickle('wdi.pkl')
numeric_cols = wdi.select_dtypes(include='number').columns
cat_cols = wdi.select_dtypes(exclude='number').columns

In [14]:
from sklearn.impute import SimpleImputer

In [15]:
simple_imp_mean = SimpleImputer(strategy='mean')

In [17]:
imputed_num=simple_imp_mean.fit_transform(wdi[numeric_cols])

In [18]:
imputed_num.shape

(434, 17)

In [19]:
wdi[numeric_cols].shape

(434, 17)

In [20]:
wdi[numeric_cols]=imputed_num

In [21]:
wdi['compulsory_education_years'].value_counts(dropna=False)

compulsory_education_years
9.000000     102
10.000000    100
6.000000      36
12.000000     34
11.000000     31
8.000000      24
9.701456      22
7.000000      20
13.000000     17
14.000000     16
15.000000     10
5.000000       6
9.500000       6
8.500000       4
6.500000       2
10.500000      2
16.000000      2
Name: count, dtype: int64

In [23]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    float64
 17  country_category                282 non-null    object
 18  is_region                       434 non-null    float64
dtypes: float64(17), object(2)
memory usage: 64.5+ KB

In [24]:
simple_imp_freq = SimpleImputer(strategy='most_frequent')

In [25]:
imputed_cat = simple_imp_freq.fit_transform(wdi[cat_cols])

In [27]:
wdi[cat_cols]=imputed_cat

In [28]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   country_name                    434 non-null    object
 1   access_to_electricity_pct       434 non-null    float64
 2   atms_per_100000                 434 non-null    float64
 3   compulsory_education_years      434 non-null    float64
 4   health_expenditure_pct_of_gdp   434 non-null    float64
 5   gdp_per_capita_usd              434 non-null    float64
 6   gdp_per_capita_ppp              434 non-null    float64
 7   life_expectancy_female          434 non-null    float64
 8   life_expectancy_male            434 non-null    float64
 9   life_expectancy                 434 non-null    float64
 10  population_density              434 non-null    float64
 11  population                      434 non-null    float64
 12  alcohol_consumption_per_capita  434 non-null    float64
 13  unemployment_rate_female        434 non-null    float64
 14  unemployment_rate_male          434 non-null    float64
 15  unemployment_rate               434 non-null    float64
 16  year                            434 non-null    float64
 17  country_category                434 non-null    object
 18  is_region                       434 non-null    float64
dtypes: float64(17), object(2)
memory usage: 64.5+ KB

In [29]:
wdi=pd.read_pickle('wdi.pkl')

In [30]:
simple_imp_ind = SimpleImputer(strategy='mean', add_indicator=True)

In [32]:
type(wdi[['compulsory_education_years']])

pandas.core.frame.DataFrame

In [33]:
imputed_ind=simple_imp_ind.fit_transform(wdi[['compulsory_education_years']])

In [34]:
imputed_ind[:20]

array([[ 9.        ,  0.        ],
       [ 9.        ,  0.        ],
       [10.        ,  0.        ],
       [ 6.        ,  0.        ],
       [ 9.        ,  0.        ],
       [14.        ,  0.        ],
       [12.        ,  0.        ],
       [10.        ,  0.        ],
       [13.        ,  0.        ],
       [10.        ,  0.        ],
       [12.        ,  0.        ],
       [ 9.        ,  0.        ],
       [ 5.        ,  0.        ],
       [11.        ,  0.        ],
       [ 9.        ,  0.        ],
       [12.        ,  0.        ],
       [ 8.        ,  0.        ],
       [ 6.        ,  0.        ],
       [ 9.70145631,  1.        ],
       [14.        ,  0.        ]])

In [37]:
imputed_ind.shape

(434, 2)

In [38]:
wdi[['compulsory_education_years', 'compulsory_education_years_missing']]=imputed_ind

In [41]:
wdi[['compulsory_education_years', 'compulsory_education_years_missing']].head(20)

    compulsory_education_years  compulsory_education_years_missing
0                     9.000000                                 0.0
1                     9.000000                                 0.0
2                    10.000000                                 0.0
3                     6.000000                                 0.0
4                     9.000000                                 0.0
5                    14.000000                                 0.0
6                    12.000000                                 0.0
7                    10.000000                                 0.0
8                    13.000000                                 0.0
9                    10.000000                                 0.0
10                   12.000000                                 0.0
11                    9.000000                                 0.0
12                    5.000000                                 0.0
13                   11.000000                                 0.0
14                    9.000000                                 0.0
15                   12.000000                                 0.0
16                    8.000000                                 0.0
17                    6.000000                                 0.0
18                    9.701456                                 1.0
19                   14.000000                                 0.0