In [2]:
import pandas as pd

In [3]:
air_quality = pd.read_csv("air_quality.csv")

In [5]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  95685 non-null  object
 1   PM2.5      95685 non-null  float64
 2   PM10       95685 non-null  float64
 3   SO2        95685 non-null  float64
 4   NO2        95685 non-null  float64
 5   CO         95685 non-null  float64
 6   O3         95685 non-null  float64
 7   TEMP       95685 non-null  float64
 8   PRES       95685 non-null  float64
 9   DEWP       95685 non-null  float64
 10  RAIN       95685 non-null  float64
 11  wd         95685 non-null  object
 12  WSPM       95685 non-null  float64
 13  station    95685 non-null  object
dtypes: float64(11), object(3)
memory usage: 10.2+ MB

In [7]:
air_quality.head()

,date_time,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013-03-01 00:00:00,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2013-03-01 01:00:00,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,2013-03-01 05:00:00,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,0.0,NW,2.4,Dongsi
3,2013-03-01 06:00:00,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,0.0,NW,2.2,Dongsi
4,2013-03-01 07:00:00,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,0.0,NNW,3.0,Dongsi

In [9]:
air_quality['date_time']=pd.to_datetime(air_quality['date_time'])

In [11]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  95685 non-null  datetime64[ns]
 1   PM2.5      95685 non-null  float64
 2   PM10       95685 non-null  float64
 3   SO2        95685 non-null  float64
 4   NO2        95685 non-null  float64
 5   CO         95685 non-null  float64
 6   O3         95685 non-null  float64
 7   TEMP       95685 non-null  float64
 8   PRES       95685 non-null  float64
 9   DEWP       95685 non-null  float64
 10  RAIN       95685 non-null  float64
 11  wd         95685 non-null  object
 12  WSPM       95685 non-null  float64
 13  station    95685 non-null  object
dtypes: datetime64[ns](1), float64(11), object(2)
memory usage: 10.2+ MB

In [13]:
air_quality['year'] = air_quality['date_time'].dt.year
air_quality['month'] = air_quality['date_time'].dt.month
air_quality['day'] = air_quality['date_time'].dt.day
air_quality['hour'] = air_quality['date_time'].dt.hour
air_quality['quarter'] = air_quality['date_time'].dt.quarter
air_quality['day_of_week_num'] = air_quality['date_time'].dt.dayofweek
air_quality['day_of_week_name'] = air_quality['date_time'].dt.day_name()

air_quality[['date_time', 'year', 'month', 'day', 'hour', 'quarter', 'day_of_week_num', 'day_of_week_name']]

,date_time,year,month,day,hour,quarter,day_of_week_num,day_of_week_name
0,2013-03-01 00:00:00,2013,3,1,0,1,4,Friday
1,2013-03-01 01:00:00,2013,3,1,1,1,4,Friday
2,2013-03-01 05:00:00,2013,3,1,5,1,4,Friday
3,2013-03-01 06:00:00,2013,3,1,6,1,4,Friday
4,2013-03-01 07:00:00,2013,3,1,7,1,4,Friday
...,...,...,...,...,...,...,...,...
95680,2017-02-28 15:00:00,2017,2,28,15,1,1,Tuesday
95681,2017-02-28 16:00:00,2017,2,28,16,1,1,Tuesday
95682,2017-02-28 21:00:00,2017,2,28,21,1,1,Tuesday
95683,2017-02-28 22:00:00,2017,2,28,22,1,1,Tuesday
95684,2017-02-28 23:00:00,2017,2,28,23,1,1,Tuesday

In [15]:
air_quality[['day_of_week_num', 'day_of_week_name']].value_counts()

day_of_week_num  day_of_week_name
6                Sunday              13931
5                Saturday            13812
4                Friday              13782
3                Thursday            13633
0                Monday              13536
1                Tuesday             13523
2                Wednesday           13468
Name: count, dtype: int64

In [16]:
air_quality['date_time'].max()

Timestamp('2017-02-28 23:00:00')

In [17]:
air_quality['date_time'].min()

Timestamp('2013-03-01 00:00:00')

In [18]:
air_quality['date_time'].max() - air_quality['date_time'].min()

Timedelta('1460 days 23:00:00')

In [19]:
date_time_range = air_quality['date_time'].max() - air_quality['date_time'].min()

In [20]:
pd.Timedelta(days=1)

Timedelta('1 days 00:00:00')

In [21]:
date_time_range/pd.Timedelta(days=1)

1460.9583333333333

In [22]:
date_time_range/pd.Timedelta(days=365)

4.002625570776256

In [23]:
pd.Timestamp('2022/01/01')

Timestamp('2022-01-01 00:00:00')

In [25]:
pd.Timestamp('2022/01/01') - air_quality['date_time']

0       3228 days 00:00:00
1       3227 days 23:00:00
2       3227 days 19:00:00
3       3227 days 18:00:00
4       3227 days 17:00:00
               ...
95680   1767 days 09:00:00
95681   1767 days 08:00:00
95682   1767 days 03:00:00
95683   1767 days 02:00:00
95684   1767 days 01:00:00
Name: date_time, Length: 95685, dtype: timedelta64[ns]

In [26]:
air_quality['time_until_2022'] = pd.Timestamp('2022/01/01') - air_quality['date_time']

In [27]:
air_quality['time_until_2022'] / pd.Timedelta(days=1)

0        3228.000000
1        3227.958333
2        3227.791667
3        3227.750000
4        3227.708333
            ...
95680    1767.375000
95681    1767.333333
95682    1767.125000
95683    1767.083333
95684    1767.041667
Name: time_until_2022, Length: 95685, dtype: float64

In [28]:
air_quality['time_until_2022_days'] = air_quality['time_until_2022'] / pd.Timedelta(days=1)
air_quality['time_until_2022_weeks'] = air_quality['time_until_2022'] / pd.Timedelta(weeks=1)

In [29]:
air_quality[['date_time', 'time_until_2022', 'time_until_2022_days', 'time_until_2022_weeks']]

,date_time,time_until_2022,time_until_2022_days,time_until_2022_weeks
0,2013-03-01 00:00:00,3228 days 00:00:00,3228.000000,461.142857
1,2013-03-01 01:00:00,3227 days 23:00:00,3227.958333,461.136905
2,2013-03-01 05:00:00,3227 days 19:00:00,3227.791667,461.113095
3,2013-03-01 06:00:00,3227 days 18:00:00,3227.750000,461.107143
4,2013-03-01 07:00:00,3227 days 17:00:00,3227.708333,461.101190
...,...,...,...,...
95680,2017-02-28 15:00:00,1767 days 09:00:00,1767.375000,252.482143
95681,2017-02-28 16:00:00,1767 days 08:00:00,1767.333333,252.476190
95682,2017-02-28 21:00:00,1767 days 03:00:00,1767.125000,252.446429
95683,2017-02-28 22:00:00,1767 days 02:00:00,1767.083333,252.440476
95684,2017-02-28 23:00:00,1767 days 01:00:00,1767.041667,252.434524

In [30]:
3228/7

461.14285714285717

In [32]:
air_quality['prior_2016_ind'] = air_quality['date_time']<pd.Timestamp('2016/01/01')

In [33]:
air_quality[['date_time', 'prior_2016_ind']]

                date_time  prior_2016_ind
0     2013-03-01 00:00:00            True
1     2013-03-01 01:00:00            True
2     2013-03-01 05:00:00            True
3     2013-03-01 06:00:00            True
4     2013-03-01 07:00:00            True
...                   ...             ...
95680 2017-02-28 15:00:00           False
95681 2017-02-28 16:00:00           False
95682 2017-02-28 21:00:00           False
95683 2017-02-28 22:00:00           False
95684 2017-02-28 23:00:00           False

[95685 rows x 2 columns]

In [34]:
air_quality.columns

Index(['date_time', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES',
       'DEWP', 'RAIN', 'wd', 'WSPM', 'station', 'year', 'month', 'day', 'hour',
       'quarter', 'day_of_week_num', 'day_of_week_name', 'time_until_2022',
       'time_until_2022_days', 'time_until_2022_weeks', 'prior_2016_ind'],
      dtype='object')