# Practice Exercise: Importing data & Exploring data (manipulation)

## Context:
- The data is about NBA (National Basketball Association) games from 2004 season to Dec, 2020.
- We'll be focusing on practicing importing data and data manipulation techniques learned in the course. But the dataset is also popular to be used for predicting NBA games winners.
- We've made minor changes on the data to fit this exercise, such as changing the column names. Check out the original source if you are interested in using this data for other purposes (https://www.kaggle.com/nathanlauga/nba-games)

## Dataset Description:

We'll work on two datasets (in two separate csv files):

  - **games**: each game from 2004 season to Dec 2020, including information about the two teams in each game, and some details like number of points, etc
  - **teams**: information about each team played in the games
  
Assume we want to study the game level data, but with detailed information about each team. We'll need to combine these two datasets together.

## Objective: 
   - Load/examine/subset/rename/change dtypes of columns for each individual dataset
   - Combine them into a single dataset, and export it
   - Explore the final dataset by subsetting or sorting

### 1. Import the libraries

In [3]:
import pandas as pd

### 2. Load the data in `games.csv` as a DataFrame called `games`

Save the csv file under the same directory as the notebook if not typing the full path.

In [4]:
games = pd.read_csv('games.csv')

### 3. Look at the first 5 rows of the DataFrame

In [5]:
games.head()

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-12-19,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,2020-12-19,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,2020-12-19,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,2020-12-18,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,2020-12-18,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

### 4. Look at the columns of the DataFrame

In [6]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

### 5. Reassign `games` as its subset of the columns 'GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS'

We'll only keep some columns about the games

In [8]:
games = games[['GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS']]

### 6. Look at the new `games` DataFrame's first 5 rows, and info summary

In [9]:
games.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,2020-12-19,Final,1610612753,1610612766,120,117,1
1,2020-12-19,Final,1610612764,1610612765,99,96,1
2,2020-12-19,Final,1610612763,1610612737,116,117,0
3,2020-12-18,Final,1610612754,1610612755,107,113,0
4,2020-12-18,Final,1610612761,1610612748,105,117,0

### 7. Convert `GAME_DATE` to a `datetime` dtype

In [11]:
pd.to_datetime(games['GAME_DATE'])

0       2020-12-19
1       2020-12-19
2       2020-12-19
3       2020-12-18
4       2020-12-18
           ...
23416   2014-10-06
23417   2014-10-06
23418   2014-10-06
23419   2014-10-05
23420   2014-10-04
Name: GAME_DATE, Length: 23421, dtype: datetime64[ns]

### 8. Convert `GAME_STATUS_TEXT` to a `string` dtype

In [12]:
games['GAME_STATUS_TEXT'].astype(str)

0        Final
1        Final
2        Final
3        Final
4        Final
         ...
23416    Final
23417    Final
23418    Final
23419    Final
23420    Final
Name: GAME_STATUS_TEXT, Length: 23421, dtype: object

### 9. Look at the info summary of the DataFrame to verify the changes

In [13]:
games.info

<bound method DataFrame.info of        GAME_DATE GAME_STATUS_TEXT  TEAM_ID_home  TEAM_ID_away  POINTS_home
0     2020-12-19            Final    1610612753    1610612766          120  \
1     2020-12-19            Final    1610612764    1610612765           99
2     2020-12-19            Final    1610612763    1610612737          116
3     2020-12-18            Final    1610612754    1610612755          107
4     2020-12-18            Final    1610612761    1610612748          105
...          ...              ...           ...           ...          ...
23416 2014-10-06            Final    1610612737    1610612740           93
23417 2014-10-06            Final    1610612741    1610612764           81
23418 2014-10-06            Final    1610612747    1610612743           98
23419 2014-10-05            Final    1610612761    1610612758           99
23420 2014-10-04            Final    1610612748    1610612740           86

       POINTS_away  HOME_TEAM_WINS
0              117               1
1               96               1
2              117               0
3              113               0
4              117               0
...            ...             ...
23416           87               1
23417           85               0
23418           95               1
23419           94               1
23420           98               0

[23421 rows x 7 columns]>

### 10. Load the data in `teams.csv` as a DataFrame called `teams`, and look at its first 5 rows, and its columns

In [16]:
teams = pd.read_csv('teams.csv')
teams.head()
teams.columns

Index(['LEAGUE_ID', 'TEAM_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

### 11. Reassign `teams` as a subset of its columns 'TEAM_ID', 'CITY', 'NICKNAME', and look at its first 5 rows and info summary

We'll only keep some columns about the teams

In [22]:
teams = teams[['TEAM_ID', 'CITY', 'NICKNAME']]
teams.head()
teams.info

<bound method DataFrame.info of        TEAM_ID           CITY       NICKNAME
0   1610612737        Atlanta          Hawks
1   1610612738         Boston        Celtics
2   1610612740    New Orleans       Pelicans
3   1610612741        Chicago          Bulls
4   1610612742         Dallas      Mavericks
5   1610612743         Denver        Nuggets
6   1610612745        Houston        Rockets
7   1610612746    Los Angeles       Clippers
8   1610612747    Los Angeles         Lakers
9   1610612748          Miami           Heat
10  1610612749      Milwaukee          Bucks
11  1610612750      Minnesota   Timberwolves
12  1610612751       Brooklyn           Nets
13  1610612752       New York         Knicks
14  1610612753        Orlando          Magic
15  1610612754        Indiana         Pacers
16  1610612755   Philadelphia          76ers
17  1610612756        Phoenix           Suns
18  1610612757       Portland  Trail Blazers
19  1610612758     Sacramento          Kings
20  1610612759    San Antonio          Spurs
21  1610612760  Oklahoma City        Thunder
22  1610612761        Toronto        Raptors
23  1610612762           Utah           Jazz
24  1610612763        Memphis      Grizzlies
25  1610612764     Washington        Wizards
26  1610612765        Detroit        Pistons
27  1610612766      Charlotte        Hornets
28  1610612739      Cleveland      Cavaliers
29  1610612744   Golden State       Warriors>

### 12. Convert both columns `CITY` and `NICKNAME` to a `string` dtype

In [32]:
teams['CITY'] = teams['CITY'].astype(str)
teams['NICKNAME'] = teams['NICKNAME'].astype(str)

### 13. Verify the changes with the `dtypes` attribute

In [33]:
teams.dtypes

TEAM_ID      int64
CITY        object
NICKNAME    object
dtype: object

### 14. Print out the first two rows of `games` and `teams`, how can we combine them?

In [36]:
print(games.head(2))
print(teams.head(2))

   GAME_DATE GAME_STATUS_TEXT  TEAM_ID_home  TEAM_ID_away  POINTS_home
0 2020-12-19            Final    1610612753    1610612766          120  \
1 2020-12-19            Final    1610612764    1610612765           99

   POINTS_away  HOME_TEAM_WINS
0          117               1
1           96               1
      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

*Hint:*

*Within the `games` DataFrame, there are two columns `TEAM_ID_home` and `TEAM_ID_away`. This is because each game involves two teams playing against each other. The team that played in its own location, is called the 'home' team, the team that played outside its location, is called the 'away' team. Each game has one 'home' team and one 'away' team.*

*While the `teams` DataFrame stores the information about each team, the identifier for each team is the column `TEAM_ID`.*

*We can merge the two DataFrames based on:*

- *`TEAM_ID_home` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'home' team*
- *`TEAM_ID_away` in `games` and `TEAM_ID` in `teams`: to get the team information for the 'away' team*

### 15. Merge (inner) `games` and `teams` based on 'TEAM_ID_home' and 'TEAM_ID', call the merged DataFrame `games_with_home_team`

In [ ]:
games_with_home_team = games.merge(teams, left_on='TEAM_ID_home', right_on='TEAM_ID', how='inner')

### 16. Print out the first 5 rows of the new DataFrame

Since we used the column `TEAM_ID_home` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'home' team. 
So let's rename them.

### 17. Rename the column `CITY` as 'city_home', `NICKNAME` as 'nickname_home'

### 18. Merge (inner) `games_with_home_team` and `teams` based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame `games_with_both_teams`

### 19. Print out the first two rows of the new DataFrame

Since we used the column `TEAM_ID_away` when merging, the two columns `CITY` and `NICKNAME` are storing the city and nickname of the 'away' team. 
So let's rename them.

### 20. Rename the column `CITY` as 'city_away', `NICKNAME` as 'nickname_away'

### 21. Print out the first 5 rows of the new DataFrame

You probably have noticed that there are two columns called `TEAM_ID_x` and `TEAM_ID_y`. This is because we merged the DataFrame twice with the `teams` DataFrame. So the `TEAM_ID` column from `teams` is added twice to the merged DataFrame. 

To avoide duplicate column names, `pandas` added the suffixes of '_x' and '_y' to distinguish them. But due to inner joins, `TEAM_ID_x` is the same as `TEAM_ID_home`, and `TEAM_ID_y` is the same as `TEAM_ID_away`.

### The team ID columns are not needed after the merge of the DataFrames. 

### The below code is provided to drop the columns 'TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y' from `games_with_both_teams`. We'll learn about this `drop` method in a later section

In [ ]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

### 22. Make a copy of `games_with_both_teams` and assign it as `games`

### 23. Change the column names in `games` to all lowercase

### 24. Print out the columns of `games` to verify the changes

### 25. Print out the columns of `games_with_both_teams` to verify that the original DataFrame wasn't impacted by the copy

### 26. Check the dimensionality  of `games`

### 27. Export `games` as a csv file called 'games_transformed.csv', and open the csv file to look at it

Feel free to test the difference of the csv files with or without the argument `index=False`

### 28. Select all the columns of 'number' dtypes from `games`

### 29. Select all the columns NOT of 'number' dtypes from `games`

### 30. Print out the first 5 rows of `games` as a reference

### 31. Select the row with label 0

### 32. Select the row with integer position 0

### 33. Set the column `game_date` as the index of DataFrame `games`

### 34. Print out the index of `games` to verify the changes

### 35. Select the rows with label '2020-12-18'

### 36. Select the rows with labels from '2020-12-18' to '2020-12-19'

### 37. Select the rows with labels of '2020-12-18' and '2019-12-18'

### 38. Select the rows with `points_home` greater than 150

### 39. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1

### 40. Select the rows with `points_home` greater than 150, and `home_team_wins` not being 1, as well as the columns `home_team_wins` and `points_home`

### 41. Reset the index of `games` back to default and verify the changes

### 42. Add a new column called `points_total`, as the sum of columns `points_home` and `points_away`

### 43. Verify the changes by printing out the three columns `points_home`, `points_away`, `points_total`

### 44. Print out the 3 rows with the largest `points_total` using the `nlargest` method

### 45. Sort the DataFrame `games` by its `points_total` column in ascending order

Don't forget to reassign the sorted result back to `games`

### 46. Print out the last 3 rows of the sorted DataFrame

Verify that it's the same three rows as the previous example (`nlargest`)

### 47. Given that the DataFrame is sorted by `points_total`, select the row with the smallest `points_total` using `iloc`

### 48. Select the rows with the second, and third smallest `points_total` using `iloc`

### 49. Select a subset including the first 4 rows, and the first 5 columns using `iloc`